.animais domesticos {
    width: 24px;
    height: 12px;
}
.h1 {
    text-align: center:
}
.paragrafo1 {
    font-size: 30px
}
.lista {
        display: inline-block
        margin: 0 16px
}
